<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
<div class="panel-heading">
<h1 class="panel-title">Previsões</h1>
</div>
		<form class="form-inline" method="POST" th:object="${tempo}" th:action="@{/tempos}" style="margin: 20px 0">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Dia Da Semana" th:field="*{dia}"/> 
				<input type="text" class="form-control" placeholder="Temperatura Mínima" th:field="*{Min}"/>
				<input type="text" class="form-control" placeholder="Temperatura Máxima" th:field="*{Max}"/>
				<input type="text" class="form-control" placeholder="Humidade" th:field="*{ar}"/>
				<input type="text" class="form-control" placeholder="Descrição" th:field="*{tex}"/>
				<input type="text" class="form-control" placeholder="Latitude" th:field="*{lat}"/>
				<input type="text" class="form-control" placeholder="Longitude" th:field="*{lon}"/>
				<input type="text" class="form-control" placeholder="Data/Hora" th:field="*{dat}"/>
				
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da Semana  /</th>
						<th>Temperatura Mínima  /</th>
						<th>Temperatura Máxima  /</th>
						<th>Humidade  /</th>
						<th>Descrição</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Data/Hora</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tempo : ${tempos}">
						<td th:text="${tempo.dia}"></td>
						<td th:text="${tempo.Min}"></td>
						<td th:text="${tempo.Max}"></td>
						<td th:text="${tempo.ar}"></td>
						<td th:text="${tempo.tex}"></td>
						<td th:text="${tempo.lat}"></td>
						<td th:text="${tempo.lon}"></td>
						<td th:text="${tempo.dat}"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>